---
layout: default
---
<div class="articles">
    {% if site.posts.size > 0 %}
        {% for post in site.posts %}
        <article class="article-item">
            <h2 class="article-title">
                <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
            </h2>
            <time class="article-date" datetime="{{ post.date | date_to_xmlschema }}">
                {{ post.date | date: "%B %d, %Y" }}
            </time>
            {% if post.excerpt %}
            <p class="article-excerpt">{{ post.excerpt | strip_html | truncatewords: 40 }}</p>
            {% endif %}
        </article>
        {% endfor %}
    {% else %}
        <div class="no-articles">
            <p>No articles yet. Check back soon!</p>
        </div>
    {% endif %}
</div>